* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    font-weight: 700;
}

.donate-btn {
    background: #FF5959;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 25px;
    text-transform: capitalize;
    transition: 0.5s;
    text-decoration: none;
}

.donate-btn:hover {
    background: darkorange;
    color: #fff;
    padding: 15px 30px;
    font-size: 25px;
}

.half-width {
    width: 40%;
    /* float: left;
    margin: 0 0 0 0;
    padding: 0 0 0 0; */
}

header {
    background-image: url("images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: #fff;
    position: relative;
    z-index: 1;
}

header:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 2;
    z-index: -1;
}

.header-top {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 30px 30px;
}

.header-top h1 {
    font-size: 30px;
}

.header-top h1 a {
    color: #fff;
    text-decoration: none;
}

.header-nav {}

.header-nav ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.header-nav ul li {
    list-style: none;
}

.header-nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.header-nav ul li a:hover {
    color: #FF5959;
    font-size: 25px;
}

.header-hero {
    text-align: center;
    width: 800px;
    margin: 0 auto;
    padding-top: 30px;
}

.header-hero p {
    font-size: 20px;
    width: 600px;
    margin: 10px auto;
    padding-bottom: 20px;
}